﻿<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>e-Mensa - @ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">-->
    <!-- custom stylesheet -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("head", required: false)

</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="row">
                <div class="col-md-2">
                    <h1>e-Mensa</h1>
                </div>
                <div class="col-md-7">
                    <nav id="nav-main">
                        <ul class="">
                            <li>@Html.ActionLink("Start", "Index", "Home")</li>
                            <li>@Html.ActionLink("Mahlzeiten", "Index", "Produkt")</li>
                            <li><a href="#">Bestellung</a></li>
                            <li><a href="http://fh-aachen.de" target="_blank" class="last">FH-Aachen</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <form class="" id="search" role="search" action="https://www.google.de/" method="get" target="_blank">
                        <button class="" id="search-btn" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <input class="" id="search-text" type="text" placeholder="Suchen..." name="q" />
                        <input type="text" hidden name="as_sitesearch" value="www.fh-aachen.de" />
                    </form>
                </div>
            </header>
            <div class="row">
                <div class="col-md-12">
                    @TempData["flash"]
                </div>
            </div>
        </div> <!-- container (header) -->

        <div class="container">
            @RenderBody()
        </div> <!-- container (body) -->

        <div class="container">
            <footer class="row">
                <div class="col-md-2" id="copyright">
                    &copy; 2017 DBWT
                </div>
                <div class="col-md-8">
                    <nav class="nav-footer">
                        <ul class="">
                            @{
                                if (!string.IsNullOrEmpty(Session["user"] as string)) {
                                    @:<li>@Html.ActionLink("Logout", "LogoutForm", "Login")</li>
                                }
                                else {
                                    @:<li>@Html.ActionLink("Login", "LoginForm", "Login")</li>
                                    @:<li>@Html.ActionLink("Registrieren", "Create", "Register")</li>
                                }
                            }
                            <li><a href="#">Zutatenliste</a></li>
                            <li>@Html.ActionLink("Impressum", "Index", "Impressum")</li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    @DateTime.Now
                </div>
            </footer>
        </div> <!-- container (footer) -->
    </div> <!-- wrapper -->
    <!-- Scripts -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified Bootstrap-JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
