﻿@model dbwt_m3_mvc.Models.FENutzer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>FENutzer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loginname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loginname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anlegedatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anlegedatum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
