﻿
@{
    ViewBag.Title = "Impressum";
}

@section head {
    <meta http-equiv="refresh" content="3; URL=@Url.Action("Index", "Home")">
}

<!-- Content -->
<div class="content">
    Gleich gehts weiter ...
</div> <!-- content -->
