﻿
@{
    ViewBag.Title = "LoginForm";
    
}

<div id="login">
    @using (Html.BeginForm("LoginForm", "Login", FormMethod.Post)) {
        @Html.ValidationSummary(true)
        <fieldset class="">
            <legend class="">Login</legend>
            <div class="form-group">
                <label for="login-benutzer" hidden></label>
                @Html.Editor("loginname", new { htmlAttributes = 
                    new { @class = "", @type = "text",  @placeholder = "Benutzer" } })
                @Html.ValidationMessage("loginname")
            </div>
            <div class="form-group">
                <label for="login-password" hidden></label>
                @Html.Editor("password", new { htmlAttributes =
                    new { @class = "", @type = "password", @placeholder = "********" } })
                @Html.ValidationMessage("password")
            </div>
            <input class="" type="submit" value="Anmelden" />
        </fieldset>
    }
    <p>
        <br />
        Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für
        Mitarbeiter und Studenten zu sehen.
    </p>
</div>
