﻿
@{
    ViewBag.Title = "LogoutForm";
}


<div id="logout">
@using (Html.BeginForm("LogoutForm", "Login", FormMethod.Post)) {
    <form class="" method="post">
        <fieldset class="">
            <legend class="">Profil</legend>
            <label>
                Hallo @Session["user"].ToString(), sie sind angemeldet als @Session["role"].ToString()
            </label>
            <input class="" type="submit" value="Abmelden" />
        </fieldset>
    </form>
}
</div>
