﻿
@{
    ViewBag.Title = "Start";
}

<div class="content">
    <div>
        <div class="placeholder" style="height: 150px;"></div>
        <div class="row">
            <div class="col-md-2">
                <p>
                    Der Dienst e-Mensa ist noch beta. Sie können bereits @Html.ActionLink("Mahlzeiten", "Index", "Produkt")
                    durchstöbern, aber noch nicht bestellen.
                </p>
                <p>
                    Registrieren Sie sich @Html.ActionLink("hier", "Create", "Register"), um über die Veröffentlichung des Dienstes per Mail informiert zu werden.
                </p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Leckere Gerichte vorbestellen</h2>
                        <p>
                            ... und gemeinsam mit Kommilitonen und Freunden essen
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div id="login-btn">
                            <a href="@Url.Action("Create", "Register")" class="my-btn btn">
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Registrieren
                            </a>
                            <a href="@Url.Action("LoginForm", "Login")" class="my-btn btn">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Anmelden
                            </a>
                        </div>
                    </div>
                </div>
                <div class="placeholder" style="height:100px;"></div>
            </div>
        </div>
    </div>
</div>

