﻿
@{
    ViewBag.Title = "Fehler";
}

@section head {
    <meta http-equiv="refresh" content="3; URL=~/Views/Home/Index.cshtml">
}

<!-- Content -->
<div class="content">
    Ups, da ist etwas schief gegangen
</div> <!-- content -->
