﻿

@{
    ViewBag.Title = "Produkte";
}

<div class="content">
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar">
                    <form class="" id="filter" method="get">
                        <fieldset class="">
                            <legend class="">Speisen filtern</legend>
                            <select name="category">
                                <option value="0"></option>
                                @{ 
                                    string okat = null;
                                    foreach (var item in ViewBag.Kategorien) {
                                        if (!item.OberkategorieBezeichnung.Equals(okat)) {
                                            if (okat != null) {
                                                @:</optgroup>
                                            }
                                            @:<optgroup label="@item.OberkategorieBezeichnung">
                                             okat = item.OberkategorieBezeichnung;
                                        }
                                        @:<option value="@item.ID">@item.Bezeichnung</option>
                                    }
                                    @:</optgroup>
                                }
                            </select>
                            <br />
                            <br />
                            <label>
                                <input type="checkbox" name="available" value="available">
                                nur verfügbare
                            </label>
                            <label>
                                <input type="checkbox" name="vegie" value="true">
                                nur vegetarische
                            </label>
                            <label>
                                <input type="checkbox" name="vegan" value="true">
                                nur vegane
                            </label>
                            <br /><br />
                            <button type="submit" class="my-btn">
                                Speisen filtern
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="col-md-9 mealthumbs">
                <h2>Verfügbare Speisen ( @ViewBag.Kategorie ) </h2>
                @{
                    int i = -1;
                    foreach (var item in ViewBag.Produkte) {
                        if (++i % 4 == 0) {
                            @:<div class="row">
                        }
                        <div class="col-md-3" id="produkt-@item.ID">
                            <div class="placeholder" style="height:150px;"></div>
                            <h4>@item.Name</h4>
                            @Html.ActionLink("Details", "Detail", new { id = item.ID } )
                        </div>

                        if (i % 4 == 3) {
                            @:</div>
                        }
                    }
                    if (i % 4 != 3) {
                        @:</div>
                    }
                }
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

