﻿
@model IEnumerable<dbwt_m3_mvc.Models.Kategorie>
@{
    ViewBag.Title = "KategorieFilter";
}

<form class="" id="filter" method="get">
    <fieldset class="">
        <legend class="">Speisen filtern</legend>
        <select name="category">
            <option value="0"></option>
            @{
                string okat = null;
                foreach (var item in Model) {
                    if (!item.OberkategorieBezeichnung.Equals(okat)) {
                        if (okat != null) {
                                @:</optgroup>
                            }
                            @:<optgroup label="@item.OberkategorieBezeichnung">
                            okat = item.OberkategorieBezeichnung;
                        }
                        @:<option value="@item.ID">@Html.DisplayFor(modelItem => item.Bezeichnung)</option>
                    }
                @:</optgroup>
            }
        </select>
        <br />
        <br />
        <label>
            <input type="checkbox" name="available" value="available">
            nur verfügbare
        </label>
        <label>
            <input type="checkbox" name="vegie" value="true">
            nur vegetarische
        </label>
        <label>
            <input type="checkbox" name="vegan" value="true">
            nur vegane
        </label>
        <br /><br />
        <button type="submit" class="my-btn">
            Speisen filtern
        </button>
    </fieldset>
</form>

